
h1 {
  font-size: 1.8em;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.3em;
}

pre, code {
  margin-top: 15px;
  margin-bottom: 15px;
}

#masaka {
  font-size: 100px;
  text-align: center;
}

span.red {
 color: #FF1385;

}

span.blue {
  color: #12A0FF;
}
